.AuthConatiner .MuiButtonBase-root {
    width: 100%;
    height: 54.2305925926px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
    border-radius: 11px !important;
    margin-bottom: 18.69375px !important;
}

.Google {
    background-color: #FFF !important;
    color: #757575 !important;
}

.GitHub {
    background-color: #333333 !important;
    color: #FFFFFF !important;
}

.Email {
    background-color: #CB4F40 !important;
    color: #FFFFFF !important;
}

.ServiceLogo {
    position: absolute;
    left: 20.0162962963px;
}

.EmailLogo {
    left: 23.9177777778px !important;
}

.AuthButtonLable {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16.962962963px;
    text-transform: none;
}