.AuthConatiner {
    margin: 0 auto;
    width: 315.511111111px;
    position: relative;
    top: -44.1037037037px;
}

.AuthButttonConatainer {
    width: 284.723333333px;
    margin: 0 auto;
}

.Disclaimer {
    font-weight: 240;
    color: #7E858A;
    text-align: center;
    line-height: 19.5074074074px;
    font-size: 14.4185185185px;
}
