.addCollCard {
    margin: 0 auto;
    width: 433.276481481px;
    height: 517.005666667px;
    position: relative;
    top: -168.781481481px;
}

.addCollLable {
    font-weight: bold;
    font-size: 22.0518518519px;
    position: relative;
    top: 44.6125925926px;
    left: 36.2159259259px;
}