.AddOptionGroup .MuiRadio-colorPrimary.Mui-checked {
    color: #039BE5;
}

.AddOptionGroup .PrivateSwitchBase-root-76 {
    padding: 7.63333333333px;
    margin-right: 18.7440740741px - 7.63333333333px;
}

.AddOptionGroup  .MuiFormControlLabel-root {
    margin: 12.3405555556px 0px;
}

.AddOptionGroup .MuiTypography-body1 {
    font-size: 20.3555555556px;
    font-weight: normal;
}

.AddOptionGroup .MuiSvgIcon-fontSizeSmall {
    font-size: 13.8926666667px !important;
}

.RadioButtonSection {
    position: absolute !important;
    left: 36.2159259259px;
    top: 161.317777778px;
}