.LearnMoreLable {
    color: rgba(0,0,0,0.57);
    font-size: 14.4185185185px;
    font-weight: 300;
    position: relative;
    top: -2.16851851852px;
}

.LightBulb {
    margin-right: 8.99037037037px;
}